<a href="https://colab.research.google.com/github/Mohammad-Majdy-Mohammad/MLAssignments/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Sort three integers :using conditional statements

In [1]:
a = list(map(int, input().split(' ')))
for i in range(len(a)):
    for j in range(i + 1, len(a)):
        if a[i] > a[j]:
            a[i], a[j] = a[j], a[i]

print(a)

35 -1 6
[-1, 6, 35]

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

In [2]:
def are_different(*nums):
  num_set = set(nums)
  return len(nums) == len(num_set)

print(are_different(1, 2, 3, 3, 3, 4, 6, 1))

False

### Python program to find the sum of all values in a dictionary
### Filter the negative values from given dictionary
### Test if all Values are Same in Dictionary

In [14]:
salaries = {'Belal' : 150000, 'Mohammad' : 250000, 'Khaled' : -1356}

def sum(x) :
  s = 0
  for v in x.values():
    s += v
  return s

print(sum(salaries))

398644

In [18]:
salaries = {k:v for k, v in salaries.items() if (v > 0)}
print(salaries)

{'Belal': 150000, 'Mohammad': 250000}

### Test if vlaue input  in dictionary value

In [22]:
x = input()
y = dict(salaries)
print(x in y.keys())

limon
False

### Calculate the sum of all numbers from 0 to a given number

In [23]:
num = int(input())
sum = 0
for i in range(0, num + 1) :
  sum += i

print(sum)

10
55

### Find the factorial of a given number using while loop

In [28]:
num = int(input())
factorial = 1
for j in range(1, num + 1):
  factorial *= j

print(factorial)

5
120

### Use a loop to display elements from a given list present at odd index positions

In [32]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1, len(my_list)):
  print(my_list[i] if i % 2 != 0 else ' ', end = ' ')

20   40   60   80   100

### Calculate the cube of all numbers from 1 to a given number

In [40]:
x = int(input())
num = [i for i in range(x + 1)]
cube = lambda x : x**3

c = list(map(cube, num))

print(c)

6
[0, 1, 8, 27, 64, 125, 216]

### program to count number of vowels using sets in given string

In [42]:
vowels = ['a', 'e', 'u', 'i', 'o']
statment = '''Vowels are letters that represent speech sounds where air leaves
 the mouth without any blockage by the tongue, lips, or throat. The vowels in
  the alphabet are a, e, i, o, u, and sometimes y'''

cnt = 0
for letter in statment:
  if letter in vowels:
    cnt += 1

print(cnt)

59

### Write a Python program to add an item to a tuple.

In [43]:
tu = (1, 2, 3, 4)
li = list(tu)
li.append(10)
tu = tuple(li)
print(tu)

(1, 2, 3, 4, 10)

### Write a Python program to multiply all the items in a list.

In [47]:
my_list = [10, 20, 30]

mul = 1
for z in my_list:
  mul *= z

print(mul)

6000

### Write a Python program to get the smallest number from a list.

In [48]:
li = [1, 5, -9, 8]
smallest = li[0]
for i in li:
  if smallest > i:
    smallest = i

print(smallest)

-9

### Write a Python program to get the largest number from a list.

In [2]:
li = [1, 5, -9, 8]
largest = li[0]
for i in li:
  if largest < i:
    largest = i

print(largest)

8

### Write a Python program to clone or copy a list

In [3]:
la = li
print(la)

[1, 5, -9, 8]

### Write a Python program to remove item(s) from a given set.

In [10]:
s = set([0, 1, 3, 4, 5])
s.remove(3)
print(s)

{0, 1, 4, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [11]:
li = [1, 5, -9, 8]
largest = smallest = li[0]
for i in li:
  if largest < i:
    largest = i
  if smallest > i:
    smallest = i

print(f"largest : {largest}   smallest : {smallest}")

largest : 8   smallest : -9

### Write a Python program to convert a tuple to a dictionary.

In [13]:
tuple1 = ("name", "age", "city","city")
dict1 = {tuple1[i] : i + 1 for i in range(len(tuple1))}
print(dict1)

{'name': 1, 'age': 2, 'city': 4}

### Write a Python program to replace the last value of tuples in a list.

In [19]:
li = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
la = [(x, y, 100) for x, y, z in li]
print(la)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]